.visualHome{
    z-index: 500;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 0px 90px 90px 0px;
    background: rgb(224, 222, 222);
    /* color:white; */
    position:relative;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.visualHome:hover{
    border: 2px solid rgb(25, 18, 128);
}